{% block title %}Enseignant {% endblock %}
{% include 'header.html.twig' %}


{% block body %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <body style="background-color:#D5E9F1 ">
    <div class="main" >
        <div style="margin-left:900px;margin-top: 20px;width: 150px;height: 30px;">
            <i class="fas fa-envelope" style="font-size:20px" title="Messages"></i>
            <span class="badge badge-notify" >2</span>
              &nbsp; &nbsp; &nbsp; <a href="{{ path('logout')}}"><i class="fa fa-sign-out" style="font-size:20px;color: #3f3f3f" title="Logout"></i></a>
        </div>
        <h2 style="margin-left:120px;margin-top: -40px "> Compte </h2>
        <br/>
        {% if form.vars.value.img is not null %}
            &nbsp;&nbsp; <img class=" rounded-circle"  src="/images/adminis/{{ form.vars.value.img}}" style="margin-left:120px;border-radius: 50%; " alt="userImg" width="45px" height="45px"/>
        {% endif %}
        <h4 style="margin-left:180px;margin-top: -34px "> {{app.user.username}} </h4>



        <div style="background-color:white;border-radius:0%;width:1010px;height: 400px;position:absolute;margin-left:130px;margin-top:30px">
            {{ form_start (form) }}


            {% for message in app.flashes('success') %}
                <div class="col-sm-10" style="margin-left: 5%;margin-top: 2%;">
                    <div class="alert  alert-success alert-dismissible fade show" role="alert">
                        <span class="badge badge-pill badge-success">Success</span>  &nbsp;{{ message }} .
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>


            {% endfor %}



            <div class="col-lg-12 col-lg-offset-3 row"style="margin-top: 10%;margin-left:0%;">
                <div class="row">

                    {% if app.user.type=='e' %}
                        <div class="col-lg-4" style="size: 15px;">{{ form_row(form.iset) }}</div>
                        <div class="col-lg-4"> {{ form_row(form.nom) }}</div>
                        <div class="col-lg-4">{{ form_row(form.prenom) }}</div>
                        <div class="col-lg-4">{{ form_row(form.cin) }} </div>

                        <div class="col-lg-4">{{ form_row(form.imageFile) }}</div >

                        <div class="col-lg-4">{{ form_row(form.username) }}</div>
                        <div class="col-lg-4">{{ form_row(form.password.first) }}</div>
                        <div class="col-lg-4">{{ form_row(form.password.second) }}</div>



                    {% elseif app.user.type=='s'%}

                        <div class="col-lg-4">{{ form_row(form.classe) }}</div>
                        <div class="col-lg-4"> {{ form_row(form.nom) }}</div>
                        <div class="col-lg-4">{{ form_row(form.prenom) }}</div>
                        <div class="col-lg-4">{{ form_row(form.date_naissance) }}</div>
                        <div class="col-lg-4">{{ form_row(form.cin) }} </div>
                        <div class="col-lg-4">{{ form_row(form.imageFile) }}</div>
                        <div class="col-lg-4">{{ form_row(form.username) }}</div>
                    <div class="col-lg-4">{{ form_row(form.password.first) }}</div>
                    <div class="col-lg-4">{{ form_row(form.password.second) }}</div>
                    {% else %}

                        <div class="col-lg-4"> {{ form_row(form.nom) }}</div>
                        <div class="col-lg-4">{{ form_row(form.prenom) }}</div>
                        <div class="col-lg-4">{{ form_row(form.cin) }} </div>
                        <div class="col-lg-4">{{ form_row(form.imageFile) }}</div>
                        <div class="col-lg-4">{{ form_row(form.username) }}</div>
                        <div class="col-lg-4">{{ form_row(form.password.first) }}</div>
                        <div class="col-lg-4">{{ form_row(form.password.second) }}</div>
                    {% endif %}


                    <div  style="position: absolute;left: 42%; top: 110%;"> <button type="submit" class="btn btn-secondary" style="width: 150px;height: 35px;"><i class="fa fa-magic" ></i>&nbsp; Modifier</button></div>

                </div> </div>

            {{ form_end(form)}}


            <div id="piechart"></div>
        </div>
    </div>
    </body>
{% endblock %}