{% include 'header.html.twig' %}
{% block body %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        input[type=text], select, textarea {
            width: 100%; /* Full width */
            padding: 12px; /* Some padding */
            border: 1px solid #ccc; /* Gray border */
            border-radius: 4px; /* Rounded borders */
            box-sizing: border-box; /* Make sure that padding and width stays in place */
            margin-top: 6px; /* Add a top margin */
            margin-bottom: 16px; /* Bottom margin */
            resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
        }

        /* Style the submit button with a specific background color etc */
        input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        /* When moving the mouse over the submit button, add a darker green color */
        input[type=submit]:hover {
            background-color: #45a049;
        }

        /* Add a background color and some padding around the form */
        .container {
            border-radius: 5px;
            background-color: transparent;
            padding: 20px;
            width: 700px;
            margin-left: 250px;
        }
    </style>
    <body style="background-color: #D5E9F1 ">
    <div class="main" >
        <h3 style="margin-left:120px ">Espace Etudiant <span> <i class="fas fa-angle-double-right" style="font-size: 18px"></i>  Forum de discussion </span><span style="color:#1b6d85"><i class="fas fa-angle-double-right" style="font-size: 18px"></i>  Créer un post</span></h3>
        <br>
        <div class="container">
            {{ form_start(form,{'action': path('createpost')}) }}
                {{ form_row(form.topic) }}
                {{ form_row(form.contenu) }}
                <button type="submit" class="btn btn-info"  style="width: 310px;margin-left: 350px">Créer mon post</button>
            {{ form_end(form) }}
            <a href="{{ path('forum') }}"><button  value="Retour" class="btn btn-learn" style="width: 310px;margin-top: -55px">Retour </button></a>
        </div>
    </div>
    </body>
{% endblock %}