
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
    <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
    <meta name="author" content="freehtml5.co" />

    <!--
    //////////////////////////////////////////////////////

    FREE HTML5 TEMPLATE
    DESIGNED & DEVELOPED by FreeHTML5.co

    Website: 		http://freehtml5.co/
    Email: 			info@freehtml5.co
    Twitter: 		http://twitter.com/fh5co
    Facebook: 		https://www.facebook.com/fh5co

    //////////////////////////////////////////////////////
     -->

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />


    <!-- Animate.css -->
    <style>

        @import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
        .login-block{
            background-image: url("images/ll.webp");  /* fallback for old browsers */

            float:left;
            width:100%;
            padding : 50px 0;
        }
        .banner-sec{background:url(images/ll.webp)  no-repeat left bottom; background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;}
        .container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
        .carousel-inner{border-radius:0 10px 10px 0;}
        .carousel-caption{text-align:left; left:5%;}
        .login-sec{padding: 50px 30px; position:relative;}
        .login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
        .login-sec .copy-text i{color:rgba(234, 146, 21, 0.9) ;}
        .login-sec .copy-text a{color:rgba(234, 146, 21, 0.9) ;}
        .login-sec h4{margin-bottom:30px; font-weight:300; font-size:25px; color: rgba(234, 146, 21, 0.9);}
        .login-sec h4:after{content:" "; width:100px; height:5px; background:rgba(234, 146, 21, 0.9) ; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
        .btn-login{background: rgba(234, 146, 21, 0.9) ; color:#fff ; font-weight:600;}
        .banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
        .banner-text h2{color:#0b0b0b; font-weight:600;}
        .banner-text h2:after{content:" "; width:100px; height:5px; color :#0b0b0b; display:block; margin-top:20px; border-radius:3px;}
        .banner-text p{color:#0b0b0b;}

    </style>
</head>
<body>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<section class="login-block">
    <div class="container">
        <div class="row">
            <div class="col-md-4 login-sec">
                <h4 class="text-center">Type Utilisateur</h4>
          <br/><br/> <br/><br/> <br/>
                    <p >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-info" href="{{path('ens')}}" style="width: 140px;border-radius:25px;height: 50px;font-weight:500;">Enseignant</a> <a class="btn btn-warning" href="{{path('etd')}}" style="width: 140px; border-radius:25px;height: 50px;font-weight:500"> Etudiant</a></p>

            </div>
            <div class="col-md-8 banner-sec">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="{{ asset('images/log3.jpg')}}" alt="First slide">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="banner-text">
                                    <h2>Bienvenue !</h2>
                                    <p>Si vous avez un compte cliquez sur s'identifier .</p>
                                    <p><a class="btn btn-secondary btn-lg btn-learn" href="{{path('login')}}">S'identifier</a> </p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="{{ asset('images/log1.jpg')}}" alt="First slide" style="width: 4000px;">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="banner-text">
                                    <h2>Bienvenue !
                                    </h2>
                                    <p>Si vous avez un compte cliquez sur s'identifier .</p>
                                    <p><a class="btn btn-secondary btn-lg btn-learn" href="{{path('login')}}">S'identifier</a> </p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="{{ asset('images/log2.jpg')}}" alt="First slide" style="width: 4000px;">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="banner-text">
                                    <h2>Bienvenue !</h2>
                                    <p>Si vous avez un compte cliquez sur s'identifier .</p>
                                    <p><a class="btn btn-secondary btn-lg btn-learn" href="{{path('login')}}">S'identifier</a> </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
</body></html>